html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
}

.section-common {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.section-intro {
    min-height: calc(100vh - 64px);
    background: linear-gradient(135deg, #FFA500 0%, #fff8eb 25%, #FFFFFF 50%, #f1effb 75%, #5D3FD3 100%);
    margin-top: 64px;
}

.section-about {
    background: linear-gradient(45deg, #FFA500 0%, #fff8eb 25%, #FFFFFF 50%, #f1effb 75%, #5D3FD3 100%);
    color: "#000000";
}